Data/Schemas/BonusCards_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BonusCards">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BonusCard" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Number" type="xs:string"/>
							<xs:element name="Bonuses" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
