Data/Schemas/Users_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="User" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Cash" type="xs:double"/>
							<xs:element name="CardMoney" type="xs:double"/>
							<xs:element name="BonusCard" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
